html {
  scroll-behavior: smooth;
}
.bg_linear {
  background: linear-gradient(180deg, #fefefe 60%, #000000 40%);
}
.purpl_linear {
  border-radius: 17px;
  background: linear-gradient(91deg, #5f21e9 60.06%, #fa00ff 103.73%);
  box-shadow: 0px 20px 50px 0px rgba(39, 0, 124, 0.5);
}
.purpl_linear_bg {
  background: linear-gradient(91deg, #5f21e9 60.06%, #fa00ff 103.73%);
  box-shadow: 0px 20px 50px 0px rgba(39, 0, 124, 0.5);
}
.animate_astro {
  animation-name: astro;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  animation-direction: forward;
}
@keyframes astro {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
.overflow_hidden {
  overflow: hidden !important;
}
